/*-----------COLORES-----------*/
$color_1: whitesmoke;
$color_2: black;
$color_3: white;
$color_4: rgb(26, 26, 26);
$font-family_1: 'Courier New', Courier, monospace;
$font-family_2: 'Times New Roman', Times, serif;
$background-color_1: rgb(26, 26, 26);
$background-color_2: whitesmoke;
$background-color_3: white;